

/* visual styles */

main{
	text-align:center;

	/* ie8- graceful degradation */
}
.header{
	margin-bottom: 0;
	background-color: red;
	background-position: 0 25%;
	background-size: cover;
	background-repeat: no-repeat;
	color: black;
}
h1 {
	font-family: "monospace";
}
p{
	font-family: "cursive";
}
