

/* visual styles */
body{
	margin:0;
	font-family:sans-serif;
	font-size: 1em;

	text-align:center;
	background-image: url("https://unsplash.com/photos/TZCehSn-T-o");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1 {
	font-family: "monospace";
}
p{
	font-family: "cursive";
}
